# Before use, copy this file to ~/.axlearn.config and replace "my-abc" with your GCP settings.

[gcp]
_active = "cool-machine-learning:us-east5-a"

# Project, zone, bucket, and network.
[gcp."cool-machine-learning:us-central2-b"]
project = "cool-machine-learning"
zone = "us-central2-b"
network = "projects/cool-machine-learning/global/networks/default"
subnetwork = "projects/cool-machine-learning/regions/us-central2/subnetworks/default"
# Used when launching VMs and TPUs.
service_account_email = "ml-training@cool-machine-learning.iam.gserviceaccount.com"
# Used for permanent artifacts like checkpoints. Should be writable by users who intend to launch jobs.
permanent_bucket = "public-permanent-us-central2"
# Used for private artifacts, like quota files. Should be readable by users who intend to launch jobs.
private_bucket = "private-permanent-us-central2"
# Used for temporary artifacts, like logs. Should be writable by users who intend to launch jobs.
ttl_bucket = "ttl-30d-us-central2"

# (Optional) Used by the AXLearn CLI. See the CLI docs for more info.
labels = "v4-tpu"
# (Optional) Configure whether to use on-demand or reserved TPUs.
reserved_tpu = false

# Docker settings.
# (Optional) Used for pushing docker images.
# docker_repo = "us-central1-docker.pkg.dev/cool-machine-learning/axlearn"
# (Optional) Configure a default Dockerfile to use when launching jobs with docker.
# default_dockerfile = "Dockerfile"
image_project = "cool-machine-learning"

# (Optional) Enable VertexAI Tensorboard support during training.
vertexai_tensorboard = "7938196875612520448"
vertexai_region = "us-central1"

[gcp."cool-machine-learning:us-east5-a"]
project = "cool-machine-learning"
zone = "us-east5-a"
network = "projects/cool-machine-learning/global/networks/default"
subnetwork = "projects/cool-machine-learning/regions/us-east5/subnetworks/default"
service_account_email = "ml-training@cool-machine-learning.iam.gserviceaccount.com"
permanent_bucket = "public-permanent-us-central2"
private_bucket = "private-permanent-us-central2"
ttl_bucket = "ttl-30d-us-central2"
labels = "v5p-tpu"
reserved_tpu = false
vertexai_tensorboard = "7938196875612520448"
vertexai_region = "us-central1"